.idea/javascript_practice.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/deployment.xml
hired.com/.idea/javascript_practice.iml
hired.com/.idea/modules.xml
hired.com/.idea/vcs.xml
hired.com/.idea/workspace.xml